@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply h-screen;
  }
  h1 {
    @apply text-main-100 text-4xl;
  }
  a {
    @apply no-underline underline-offset-4;
  }
  label {
    @apply block mb-2 text-sm font-medium;
  }
  input {
    @apply outline-2 -outline-offset-2 bg-gray-100  border-gray-300 text-sm rounded-lg focus:ring-0  block w-full p-2.5;
  }
  textarea {
    @apply outline-2 -outline-offset-2 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300;
  }

  button {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 disabled:opacity-75 disabled:cursor-not-allowed;
  }
}
@layer components {
  .icon-box {
    @apply text-white text-xs rounded-lg border-2 border-main-700 w-16 h-16 hover:bg-main-500 flex justify-center items-center cursor-pointer;
  }
}
